<h2> <%= link_to "Edit", edit_merchant_bulk_discount_path(@merchant, @bulk_discount) %> </h2>
<h1> Name: <%= @bulk_discount.name %> </h1>
<p> <%= @bulk_discount.percentage_discount %>% Discount on
     <%= @bulk_discount.quantity_threshold %> Items!
</p>
